In [8]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("A:\\Udacity Data Sciene Intro\\ipl\\matches.csv")
df = df[df['season'] == 2017]  # only show 2017 records
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

# Number of matches played in 2017 ipl edition

In [13]:
no_of_matches = df.shape[0]
print(no_of_matches)

59

# What percentage of matches are won by toss winners?

In [24]:
# find the common teams who won the toss as well as the match
# add the data in a  new df
winner_df = df[df['winner'] == df['toss_winner']]
winner_percentage = (winner_df.shape[0]/df.shape[0])*100
winner_percentage

57.6271186440678

# Who won the final match?

In [28]:
last_match = df.tail(1)
last_match['winner']

58    Mumbai Indians
Name: winner, dtype: object

# Which two teams reached the finals?

In [31]:
last_match[['team1','team2']]

             team1                   team2
58  Mumbai Indians  Rising Pune Supergiant

# How many matches used Duckworth Lewis method?

In [44]:
dl_used = df[df['dl_applied'] == 1]
dl_used

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
56,57,2017,Bangalore,2017-05-17,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,1,Kolkata Knight Riders,0,7,NM Coulter-Nile,M Chinnaswamy Stadium,AK Chaudhary,Nitin Menon,NaN

# What percentages of matches are won after fielding first?

In [46]:
df = df[['toss_winner','toss_decision','winner']]
df.head()

                   toss_winner toss_decision                       winner
0  Royal Challengers Bangalore         field          Sunrisers Hyderabad
1       Rising Pune Supergiant         field       Rising Pune Supergiant
2        Kolkata Knight Riders         field        Kolkata Knight Riders
3              Kings XI Punjab         field              Kings XI Punjab
4  Royal Challengers Bangalore           bat  Royal Challengers Bangalore

In [48]:
equal = df[df['toss_winner'] == df['winner']]
equal

                    toss_winner toss_decision                       winner
1        Rising Pune Supergiant         field       Rising Pune Supergiant
2         Kolkata Knight Riders         field        Kolkata Knight Riders
3               Kings XI Punjab         field              Kings XI Punjab
4   Royal Challengers Bangalore           bat  Royal Challengers Bangalore
5           Sunrisers Hyderabad         field          Sunrisers Hyderabad
6                Mumbai Indians         field               Mumbai Indians
9                Mumbai Indians         field               Mumbai Indians
10        Kolkata Knight Riders         field        Kolkata Knight Riders
11               Mumbai Indians         field               Mumbai Indians
12                Gujarat Lions         field                Gujarat Lions
14             Delhi Daredevils           bat             Delhi Daredevils
15               Mumbai Indians         field               Mumbai Indians
20          Sunrisers Hyderabad           bat          Sunrisers Hyderabad
21               Mumbai Indians         field               Mumbai Indians
22                Gujarat Lions         field                Gujarat Lions
24       Rising Pune Supergiant         field       Rising Pune Supergiant
28        Kolkata Knight Riders         field        Kolkata Knight Riders
29                Gujarat Lions         field                Gujarat Lions
30        Kolkata Knight Riders         field        Kolkata Knight Riders
34              Kings XI Punjab         field              Kings XI Punjab
37       Rising Pune Supergiant         field       Rising Pune Supergiant
38             Delhi Daredevils         field             Delhi Daredevils
39       Rising Pune Supergiant         field       Rising Pune Supergiant
40             Delhi Daredevils         field             Delhi Daredevils
44        Kolkata Knight Riders         field        Kolkata Knight Riders
45                Gujarat Lions         field                Gujarat Lions
48             Delhi Daredevils         field             Delhi Daredevils
50             Delhi Daredevils           bat             Delhi Daredevils
51          Sunrisers Hyderabad         field          Sunrisers Hyderabad
53       Rising Pune Supergiant         field       Rising Pune Supergiant
54  Royal Challengers Bangalore           bat  Royal Challengers Bangalore
56        Kolkata Knight Riders         field        Kolkata Knight Riders
57               Mumbai Indians         field               Mumbai Indians
58               Mumbai Indians           bat               Mumbai Indians

In [52]:
p = equal[df.toss_decision == 'field']
p.shape[0]

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

28

In [54]:
games_won_field_first = (28/59)*100
games_won_field_first

47.45762711864407